ibm node-red.txt
[{"id":"bc37ff7b.b20e98","type":"ibmiot in","z":"838d0143.802968","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"deebbcfefeea","applicationId":"","deviceType":"SmartMeter","eventType":"status","commandType":"","format":"json","name":"smartMeter IoT - Publish MQTT","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":135.88333129882812,"y":138,"wires":[["76f9b1e1.a7b838"]]},{"id":"76f9b1e1.a7b838","type":"function","z":"838d0143.802968","name":"Tratamento dos dados MQTT","func":"var d = new Date();\nvar n = d.getTime(); \nmsg.payload.d.time=n;\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":138,"wires":[["3695d53.7e3362a","b72dfb81.f7c0a"]]},{"id":"3695d53.7e3362a","type":"ibmiot out","z":"838d0143.802968","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"EEEE","deviceType":"0.16.2","eventCommandType":"status","format":"json","data":"current","qos":"0","name":"Smartphone - Subscriber MQTT","service":"quickstart","x":706,"y":55,"wires":[[]]},{"id":"66cca1b8.dff9d","type":"http request","z":"838d0143.802968","name":"Requisição HTTP","method":"GET","ret":"txt","url":"https://17d4c675-984e-42f3-a547-a09bad7511a5-bluemix:c97a600bcd4440d37e4ed4e706e3906a6da921432eeb724bda9f97859ee40944@17d4c675-984e-42f3-a547-a09bad7511a5-bluemix.cloudant.com","tls":"","x":98,"y":345,"wires":[["8dd126ee.c27238"]]},{"id":"8dd126ee.c27238","type":"function","z":"838d0143.802968","name":"Tratamento de dados HTTP","func":"if ((typeof msg.payload.start == \"string\") && (typeof msg.payload.end == \"string\")) {\n\tvar stt = parseInt(msg.payload.start);\n\tvar edd = parseInt(msg.payload.end);\n\tmsg.payload = {\"payload.d.time\": {$gt: stt, $lt: edd}}} else {\n\tmsg.payload = {}}\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":345,"wires":[["64335db0.5784e4"]]},{"id":"64335db0.5784e4","type":"cloudant in","z":"838d0143.802968","name":"Banco de dados NoSQL","cloudant":"","database":"nodered","service":"Broker MQTT-Monitor de energia-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":465,"y":465,"wires":[["cf86698e.80f298"]]},{"id":"b72dfb81.f7c0a","type":"cloudant in","z":"838d0143.802968","name":"Banco de dados NoSQL","cloudant":"","database":"nodered","service":"Broker MQTT-Monitor de energia-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":686,"y":233,"wires":[[]]},{"id":"cf86698e.80f298","type":"http response","z":"838d0143.802968","name":"Resposta HTTP","x":717,"y":464,"wires":[]}]